<launch>
	<rosparam command="load"
		file="$(find labust_launchers)/launch/ldtravocean/config/control.yaml" />

	<!-- Manual control input -->
<!--	<include file="$(find labust_launchers)/config/control/joy.xml" /> -->
	<node pkg="labust_control" type="nu_manual" name="ManualNuRef">
	   <remap from="Enable" to="NU_enable" />
	   <remap from="joy" to="joy_opto"/>
	</node>
	<node pkg="labust_control" type="ref_manual" name="ManualStateRef" >
	   <remap from="Enable" to="REF_enable" />
	   <remap from="joy" to="joy_opto"/>
	</node>

	<!-- Velocity controller -->
	<node pkg="labust_uvapp" type="velocity_control" name="velcon">
		<!-- <remap from="tauAchVelCon" to="tauAch" /> -->
		<remap from="stateHat" to="meas_ideal" />
		<remap from="nuRef" to="nuRefMerged" />
		<remap from="joy" to="joy_opto" />
		
	</node>

	<!-- High-level controllers -->
	<group>
		<remap from="out" to="nuRef" />
		<remap from="ref" to="stateRef" />
		<remap from="state" to="stateHat" />
		<remap from="windup" to="tauAch" />

		<node pkg="labust_control" type="fadp_controller2" name="station_keeping">
			<remap from="Enable" to="FADP_enable" />
		</node>
		<node pkg="labust_control" type="alt_controller2" name="alt_depth_control">
			<remap from="Enable" to="ALT_enable" />
		</node>
		<node pkg="labust_control" type="hdg_controller2" name="hdg_control">
			<remap from="Enable" to="HDG_enable" />
		</node>

		<node pkg="labust_control" type="async_merger" name="nu_merger">
		   	<remap from="in" to="nuRef" />
			<remap from="out" to="nuRefMerged" />
			<param name="merge_nu" value="true" />
		</node>
	</group>
</launch>
