<launch>
  <include file="$(find labust_launchers)/launch/caddy/$(env ROBOT).machine" />
  <arg name="is_sim" value="$(optenv IS_SIM 1)" />     

  <group ns="ldtravo">
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	<rosparam command="load" file="$(env MODEL)" />
  	
  	<!-- Add the simulation elements -->
  	<group if="$(arg is_sim)">
		<include file="$(find labust_launchers)/launch/ldtravocean/simulator.launch" />
  	</group>
  	
  	<!-- Add the navigation -->
  	<include file="$(find labust_launchers)/launch/ldtravocean/navigation.launch"/>
    	
  	<!-- Add the controllers -->
  	<include file="$(find labust_launchers)/launch/ldtravocean/control.launch"/>
	
	<!-- add the opto22 bridge node -->
	<include file="$(find labust_launchers)/launch/ldtravocean/opto22.launch"/>
	
	<!-- add the navquest dvl node -->
	<include file="$(find labust_launchers)/launch/ldtravocean/dvl.launch"/>
	
  </group>
</launch>
