<launch>
  <include file="$(find labust_launchers)/launch/ldtravocean/$(env ROBOT).machine" />
  <arg name="is_sim" value="$(optenv IS_SIM 1)" />     
  <arg name="use_pl" value="$(optenv IS_PLADYPOS 0)" />
  <arg name="en_logging" value="$(optenv ENABLE_LOGGING 0)" />     
  <arg name="use_direct" value="$(optenv USE_DIRECT 0)" />     

  <group ns="ldtravo">
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	<rosparam command="load" file="$(env MODEL)" />
  	
  	<!-- Add the simulation elements -->
  	<group if="$(arg is_sim)">
		<include file="$(find labust_launchers)/launch/ldtravocean/simulator.launch" />
  	</group>

	<!-- Add the DVL/imu testing platform -->
  	<group if="$(arg use_pl)">
		<remap from="tauAch" to="tauAchPl" />
		<include file="$(find labust_launchers)/launch/caddy/pladypos_dvl.launch" />
  	</group>

 	<!-- Add the real vehicle -->
  	
  	<!-- Add the navigation -->
  	<include file="$(find labust_launchers)/launch/ldtravocean/navigation.launch"/>
    	
  	<!-- Add the controllers -->
  	<include file="$(find labust_launchers)/launch/ldtravocean/control.launch" unless="$(arg use_direct)"/>
  	<include file="$(find labust_launchers)/launch/ldtravocean/control_direct.launch" if="$(arg use_direct)" />
	
	<!-- add the opto22 bridge node -->
	<include file="$(find labust_launchers)/launch/ldtravocean/opto22.launch"/>
	
	<!-- add the navquest dvl node -->
	<include file="$(find labust_launchers)/launch/ldtravocean/dvl.launch"/>
	
  	<!-- Add the logging -->
  	<group if="$(arg en_logging)">
  		<include file="$(find labust_launchers)/launch/ldtravocean/logger_pl.launch" />
  	</group>
  </group>
</launch>
