<launch>
	<rosparam command="load" file="$(find pladypos)/data/pladypos_info_t.yaml" />
  	<rosparam command="load" file="$(find labust_imu)/data/imu_info_t.yaml" />
  	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/logger.yaml" />
  	<include file="$(find matlogger)/launch/std_logger.launch" />
</launch>
