<launch>
    <arg name="use_extended" value="$(optenv USE_EXTENDED_NAV 1)" />
    <arg name="use_nz" value="$(optenv USE_NZ_NAV 0)" />
    <arg name="use_4d" value="$(optenv USE_4D_NAV 0)" />
    <arg name="use_magnetic" value="$(optenv USE_MAGNETIC_COMPASS 0)" />

    <rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams.yaml" if="$(arg use_4d)" />
    <rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_ex.yaml" if="$(arg use_extended)" />
    <rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_nz.yaml" if="$(arg use_nz)" />
	
    <group unless="$(arg use_magnetic)">
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams.yaml" if="$(arg use_4d)" />
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_ex.yaml" if="$(arg use_extended)" />
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_nz.yaml" if="$(arg use_nz)" />	
    </group>
    <group if="$(arg use_magnetic)">
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_magnetic.yaml" if="$(arg use_4d)" />
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_ex_magnetic.yaml" if="$(arg use_extended)" />
    	<rosparam command="load" file="$(find labust_launchers)/launch/ldtravocean/config/navparams_nz_magnetic.yaml" if="$(arg use_nz)" />	
    </group>
 
    <node pkg="ldtravocean" type="ldnav_node" name="ekf_nav" if="$(arg use_4d)">
      <param name="tf_prefix" value="$(optenv TF_PREFIX /)" if="$(optenv USE_TF_PREFIX 0)" />
      <param name="imu_with_yaw_rate" value="false" />
      <param name="dvl_model" value="1" />
      <param name="Ts" value="0.1" />
      <param name="compass_variance" value="0.5" />
      <param name="gyro_variance" value="0.001" />
       
      <remap from="gps" to="nogps" />
      <remap from="altitude" to="altitude_opto" />
      <remap from="depth" to="depth_opto" />
    </node>

    <node pkg="ldtravocean" type="ldnavex_node" name="ekf_nav" if="$(arg use_extended)">
      <param name="tf_prefix" value="$(optenv TF_PREFIX /)" if="$(optenv USE_TF_PREFIX 0)" />
      <param name="imu_with_yaw_rate" value="false" />
      <param name="dvl_model" value="1" />
      <param name="Ts" value="0.1" />
      <param name="compass_variance" value="0.5" />
      <param name="gyro_variance" value="0.001" />
       
      <remap from="gps" to="nogps" />
      <remap from="imu" to="imu_opto" />
      <remap from="altitude" to="altitude_opto" />
      <remap from="depth" to="depth_opto" />
    </node>
    
    <node pkg="ldtravocean" type="nznav_node" name="ekf_nav" if="$(arg use_nz)">
      <param name="tf_prefix" value="$(optenv TF_PREFIX /)" if="$(optenv USE_TF_PREFIX 0)" />
      <param name="imu_with_yaw_rate" value="false" />
      <param name="dvl_model" value="1" />
      <param name="Ts" value="0.1" />
      <param name="compass_variance" value="0.5" />
      <param name="gyro_variance" value="0.001" />
       
      <remap from="gps" to="nogps" />
      <remap from="imu" to="imu_opto" /> 
      <remap from="altitude" to="altitude_opto" />
      <remap from="depth" to="depth_opto" />
    </node>

    <node pkg="labust_navigation" type="llnode" name="tf_frame_node">
      <param name="LocalFixSim" value="true" if="$(optenv USE_LOCAL_FIX 1)" /> 
      <param name="tf_prefix" value="$(optenv TF_PREFIX /)" if="$(optenv USE_TF_PREFIX 0)" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="imu_frame_node" args="0 0 0 0 0 0 base_link imu_frame 100">
      <param name="tf_prefix" value="$(optenv TF_PREFIX /)" if="$(optenv USE_TF_PREFIX 0)" />
    </node>
</launch>
