<launch>
  <node pkg="UWSim" name="UWSim" type="UWSim" 
  args="--configfile $(find caddy_uwsim)/data/scenes/test_environment.xml 
  --dataPath $(find caddy_uwsim)/data/scenes"  />
  <group ns="pladypos">
  	<rosparam command="load" file="$(find caddy_uwsim)/launch/model.yaml" />
  	<rosparam command="load" file="$(find caddy_uwsim)/launch/simulation.yaml" />
  	    
    <node pkg="labust_uvapp" name="velocity_control" type="velocity_control" />
    
    <!-- <node pkg="cart_sim" name="cart2_node" type="cart2_node" args="$(find cart_sim)/config/cart_app.xml">
      <remap from="tauIn" to="tauOut" />
    </node> -->
    
    <node pkg="ldtravocean" name="pladypos_node" type="model_node" args="$(find caddy_uwsim)/data/config/pladypos_model.xml">
        <!-- This will also adjust the model sampling time -->
    	<param name="Rate" value="10" />
    	<remap from="tauIn" to="tauOut" />
    	<remap from="meas" to="sim_meas" />
    	<param name="maxThrust" value="9.2" />
    	<param name="minThrust" value="-9.2" />
    </node>
    
    <node pkg="pladypos" name="pladypos_nav" type="nav_node" />
    
    <!-- <node pkg="cart_sim" name="dpcontroller" type="dynamic_positioning.py">
      <remap from="trackedNav" to="/diver/meas" />
    </node> -->
    
    <node pkg="cart_sim" name="logger" type="matlogger.py">
      <param name="filename" value="/home/dnad/Development/Matlab/ros/pladypos_log.csv" />
    </node>
    
    <node pkg="joy" name="joystick" type="joy_node">
      <param name="dev" value="/dev/input/js0" />
      <param name="coalesce_interval" value="0.1" />
      <param name="autorepeat_rate" value="10" />
      <param name="deadzone" value="0.05" />
    </node>
    
  </group>
  
  <group ns="diver">
  	<rosparam command="load" file="$(find caddy_uwsim)/launch/model.yaml" />
  	<rosparam command="load" file="$(find caddy_uwsim)/launch/sim_diver.yaml" />
  	<rosparam command="load" file="$(find control_g500)/config/joy.yaml"/>
  	
  	<node pkg="cart_sim" name="dpcontroller" type="dynamic_positioning.py">
      <remap from="trackedNav" to="trajectory" />
    </node>
    
    <node pkg="labust_uvapp" name="velocity_control" type="velocity_control" />
    
  	<node pkg="cart_sim" name="cart2_node" type="cart2_node" args="$(find cart_sim)/config/diver_app.xml">
      <remap from="tauIn" to="tauOut" />
      <remap from="nuRef" to="dummy" />
    </node> -->

    <node pkg="cart_sim" name="lawngenerator" type="lawn_generator.py" />
    
    <!-- <node pkg="cart_sim" name="logger" type="matlogger.py">
      <param name="filename" value="/home/dnad/Development/Matlab/ros/diver_log.csv" />
    </node> --> 
    
    <!-- <node pkg="control_g500" name="teleoperation" type="teleoperation" >
      <remap from="body_velocity_req" to="nuRef" />
    </node> -->
  </group>

</launch>
