<launch>
  <node pkg="UWSim" name="UWSim" type="UWSim"
  args="--configfile $(find caddy_uwsim)/data/scenes/test_environment.xml 
  --dataPath $(find caddy_uwsim)/data/scenes"  />
  <group ns="pladypos">
   <rosparam command="load" file="$(find caddy_uwsim)/launch/model.yaml" />
   <rosparam command="load" file="$(find caddy_uwsim)/launch/simulation_batch.yaml" />

    <node pkg="labust_uvapp" name="velocity_control" type="velocity_control" />

    <node pkg="cart_sim" name="cart2_node" type="cart2_node" args="$(find cart_sim)/config/cart_app.xml">
      <remap from="tauIn" to="tauOut" />
    </node>

    <node pkg="cart_sim" name="dpcontroller" type="dynamic_positioning.py">
      <remap from="trackedNav" to="/diver/meas" />
    </node>

    <node pkg="cart_sim" name="logger" type="matlogger.py">
      <param name="filename" value="/home/dnad/Development/Matlab/ros/pladypos_log_ideal_1.1_1.1.csv" />
    </node>
  </group>

  <group ns="diver">
   <rosparam command="load" file="$(find caddy_uwsim)/launch/model.yaml" />
   <rosparam command="load" file="$(find caddy_uwsim)/launch/sim_diver.yaml" />
   <!-- <rosparam command="load" file="$(find control_g500)/config/joy.yaml"/> -->

   <node pkg="cart_sim" name="dpcontroller" type="dynamic_positioning.py">
      <remap from="trackedNav" to="trajectory" />
    </node>

    <node pkg="labust_uvapp" name="velocity_control" type="velocity_control" />

   <node pkg="cart_sim" name="cart2_node" type="cart2_node" args="$(find cart_sim)/config/diver_app.xml">
      <remap from="tauIn" to="tauOut" />
      <remap from="nuRef" to="dummy" />
    </node>

    <node pkg="cart_sim" name="lawngenerator" type="lawn_generator.py" />

    <!-- <node pkg="cart_sim" name="logger" type="matlogger.py">
      <param name="filename" value="/home/dnad/Development/Matlab/ros/diver_log.csv" />
    </node> -->

    <!-- <node pkg="control_g500" name="teleoperation" type="teleoperation" >
      <remap from="body_velocity_req" to="nuRef" />
    </node> -->
  </group>
</launch>
