<launch>
  <include file="$(find caddy_uwsim)/launch/launch_v2/$(env ROBOT).machine" />
  <arg name="is_sim" value="$(optenv IS_SIM 1)" />     
  <arg name="use_usbl" value="$(optenv USE_USBL 0)" />     
  <arg name="use_usbl_manager" value="$(optenv USE_USBL_MANAGER 1)" />     
  <!-- <include file="$(find caddy_uwsim)/data/config/uwsim.xml" if="$(env USE_UWSIM)" /> -->
 
  <group ns="pladypos">
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	<rosparam command="load" file="$(env MODEL)" />
  	<rosparam command="load" file="$(find caddy_uwsim)/data/config/navparams.yaml" />
  	 	
  	<!-- Common nodes -->
  	<include file="$(find caddy_uwsim)/data/config/logging.xml" if="$(optenv ENABLE_LOGGING 0)" />
  	<include file="$(find caddy_uwsim)/data/config/navigation.xml" /> 	
  	<include file="$(find caddy_uwsim)/data/config/control.xml" />
   	<include file="$(find caddy_uwsim)/data/config/joy.xml" />
  	<include file="$(find caddy_uwsim)/data/config/manager.xml" />
  	
  	<!-- Add runtime applications -->
  	<group unless="$(arg is_sim)">
  		<include file="$(find pladypos)/launch/pladypos_driver.launch" />
  		<node pkg="advantech" type="advantech_node" name="advtech_node"/>
  	</group>
  	
  	<!-- Add simulation applications -->
  	<group if="$(arg is_sim)">
  		<include file="$(find labust_sim)/config/simulator.xml"  />
  	</group>  

		<group ns="usbl" if="$(arg use_usbl)">
			<include file="$(find usbl)/launch/usbl_full.launch" unless="$(arg is_sim)"/>
			<include file="$(find usbl)/launch/usbl_sim.launch" if="$(arg is_sim)"/>
		</group>

		<group ns="usbl">
			<include file="$(find usbl_comms)/launch/usbl_comms.launch" if="$(arg use_usbl_manager)" />
		</group>
  </group>
</launch>
