<!--/*****************************************************************
 * labust_sim_template.launch
 *
 *  Created on: Apr 16, 2014
 *      Author: Filip Mandic
 *
 ********************************************************************/

/*********************************************************************
* Software License Agreement (BSD License)
*
*  Copyright (c) 2014, LABUST, UNIZG-FER
*  All rights reserved.
*
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*
*   * Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*   * Redistributions in binary form must reproduce the above
*     copyright notice, this list of conditions and the following
*     disclaimer in the documentation and/or other materials provided
*     with the distribution.
*   * Neither the name of the LABUST nor the names of its
*     contributors may be used to endorse or promote products derived
*     from this software without specific prior written permission.
*
*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
*  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
*  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
*  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
*  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
*  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
*  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
*  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
*  POSSIBILITY OF SUCH DAMAGE.
******************************************************************/-->

<launch>

    <!-- ========================================================= -->
    <!-- == Arguments ============================================ -->
    <!-- ========================================================= -->

	<rosparam command="load" file="$(env MODEL)" />
  	<rosparam command="load" file="$(env ALLOCATION_MODEL)" />
  		
   <!-- <arg name="labust_mission_path" />
    <arg name="xml_save_path" />
    <arg name="mission_execution" default="true" />
    <arg name="neptus_parser" default="true" />
    <arg name="parseGUI" default="true" />-->


    <!-- ========================================================= -->
    <!-- == Dynamic simulation node ============================== -->
    <!-- ========================================================= -->
   <node pkg="labust_sim" type="uvsim" name="uvsim">    	    
	<param name="Rate" value="10" />
	<param name="ModelWrap" value="10" />
	<param name="publish_world" value="false" />
	<param name="publish_sim_base" value="true" />
		
	<param name="maxThrust" value="1" />
	<param name="minThrust" value="-1" />
		
	<remap from="tauIn" to="tauOut" />
   </node>


    <!-- ========================================================= -->
    <!-- == IMU sensor simulation node =========================== -->
    <!-- ========================================================= -->

   <node pkg="labust_sim" type="imu_sim" name="imu_sim">
  	<remap from="meas_odom" to="meas_odom_noisy" if="$(optenv USE_NOISE 0)" />
   </node>		

    <!-- ========================================================= -->
    <!-- == GPS sensor simulation node =========================== -->
    <!-- ========================================================= -->
    <node pkg="labust_sim" type="gps_sim" name="gps_sim">
	<remap from="meas_odom" to="meas_odom_noisy" if="$(optenv USE_NOISE 0)" />
	<remap from="fix" to="gps" />
	<param name="gps_height" value="0.25" />
	<param name="gps_pub" value="10" />
    </node>	

</launch>
