<launch>
  <include file="$(find labust_launchers)/launch/caddy/$(env ROBOT).machine" />
  <arg name="is_sim" value="$(optenv IS_SIM 1)" />     

  <group ns="cart2">
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	
  	<include file="$(find labust_launchers)/config/control/joy.xml"/>
  	
  	<!-- <group ns="navigation"> -->
  		<rosparam command="load" file="$(env MODEL)" />
  	  	<rosparam command="load" file="$(find labust_launchers)/config/cart2/navparams.yaml" />
  	  	
  	  	<remap from="tauAch" to="/cart2/tauAch" /> 
  	  	  		
  		<include file="$(find labust_launchers)/config/navigation/navigation2D.xml" />
  		<include file="$(find labust_launchers)/config/cart2/imu_gps.xml" unless="$(arg is_sim)"/>
  	<!-- </group> -->
  	
  	<!-- <group ns="control"> -->
  		<rosparam command="load" file="$(env MODEL)" />
  		<rosparam command="load"
			file="$(find labust_launchers)/config/cart2/velocity_control.yaml" />
		<rosparam command="load"
			file="$(find labust_launchers)/config/cart2/dp_control.yaml" />
			
		<remap from="stateHat" to="/cart2/stateHat" />
		<remap from="state" to="/cart2/stateHat" /> 
  		
  		<include file="$(find labust_launchers)/config/control/control_all.xml" />
  		
  		<!-- The simple execution manager -->
  		<rosparam command="load" file="$(find labust_launchers)/config/cart2/manager.yaml" />
  		<include file="$(find labust_launchers)/config/control/manager.xml" />
  	<!-- </group> -->
  	
  	<!-- <group ns="simulation" if="$(arg is_sim)"> -->
  	<group if="$(arg is_sim)">
  		<rosparam command="load" file="$(env MODEL)" />
  		<rosparam command="load" file="$(env ALLOCATION_MODEL)" />
  		
  		<remap from="fix" to="/cart2/gps" />
  		<remap from="imu" to="/cart2/imu" />
		<remap from="tauIn" to="/cart2/tauOut" />
		<remap from="tauAch" to="/cart2/tauAch" />
			
  		<include file="$(find labust_launchers)/config/simulator/simulator.xml" />
  	</group>
  	<!-- </group> -->  	
  </group>
</launch>
