<launch>
  <node pkg="joy" name="joystick" type="joy_node">
		<param name="dev" value="/dev/input/js0" />
		<param name="coalesce_interval" value="0.1" />
		<param name="autorepeat_rate" value="10" />
		<param name="deadzone" value="0.05" />
	</node>
	
	<node pkg="acoustic_vr" name="audioex" type="acoustic_vr">
		<rosparam command="load" file="$(find acoustic_vr)/data/config/audio_experiment.yaml" /> 
	  <param name="TexturePath" value="$(find acoustic_vr)/data/media/files/" />
	  <param name="MediaPath" value="$(find acoustic_vr)/data/media/" />
	</node>
</launch>
