<launch>
	<node pkg="acoustic_vr" name="audioex" type="acoustic_vr">
		<rosparam command="load"
			file="$(find acoustic_vr)/data/config/audio_experiment.yaml" />
		<param name="TexturePath" value="$(find acoustic_vr)/data/media/files/" />
		<param name="MediaPath" value="$(find acoustic_vr)/data/media/" />
		<remap from="target_point" to="/pladypos/LFPoint" />
		<remap from="stateHat" to="/pladypos/stateHat" />
	</node>
</launch>
