<launch>
  <group ns="usbl">
  <arg name="uvsim_tf_prefix" value="$(optenv TF_PREFIX /)" />
  <!-- <node pkg="nodelet" type="nodelet" name="usbl_pool"  args="manager">
	<param name="tf_prefix" value="$(arg uvsim_tf_prefix)"/>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="usbl"
        args="standalone usbl/USBLNodelet">
	<param name="tf_prefix" value="$(arg uvsim_tf_prefix)"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="usbl_filter" 
  		args="standalone usbl/USBLFilter">
	<param name="tf_prefix" value="$(arg uvsim_tf_prefix)"/>
  </node>
  </group>
</launch>
