<launch>
  <node pkg="nodelet" type="nodelet" name="usbl_pool"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="usbl"
        args="load usbl/USBLNodelet usbl_pool">
  </node>
  <!-- <node pkg="nodelet" type="nodelet" name="usbl_filter" 
  		args="load usbl/USBLFilter usbl_pool">
  </node> -->
</launch>
