<launch>
  <include file="$(find labust_launchers)/launch/caddy/$(env ROBOT).machine" />
  <arg name="is_sim" value="$(optenv IS_SIM 1)" />     
  <arg name="use_pl" value="$(optenv IS_PLADYPOS 0)" />
  <arg name="en_logging" value="$(optenv ENABLE_LOGGING 0)" />     
  <arg name="use_direct" value="$(optenv USE_DIRECT 0)" />      

  <group ns="pladypos">  	
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	<rosparam command="load" file="$(env MODEL)" />
  	
  	<!-- Add the simulation elements -->
  	<group if="$(arg is_sim)">
		<include file="$(find labust_launchers)/launch/caddy/simulator.launch" />
  	</group>
  	
  	<!-- Add the navigation -->
  	<include file="$(find labust_launchers)/launch/caddy/navigation.launch"/>
    	
  	<!-- Add the controllers -->
  	<include file="$(find labust_launchers)/launch/caddy/control.launch" />
  	
  	<!-- Add the logging -->
  	<group if="$(arg en_logging)">
  		<include file="$(find labust_launchers)/launch/caddy/logger.launch" />
  	</group>
  </group>
</launch>
