<launch>
  <include file="$(find ldtravocean)/data/config/$(env ROBOT).machine" /> 
    
  <include file="$(find ldtravocean)/data/config/uwsim.xml" if="$(env USE_UWSIM)" />
  <include file="$(find ldtravocean)/data/config/rviz.xml" if="$(env USE_RVIZ)" />
  
  <group ns="ldrov">
  	<rosparam command="load" file="$(find ldtravocean)/data/config/$(env LOCATION).yaml" />  	
  	<include file="$(find ldtravocean)/data/config/navigation.xml" />
  	<include file="$(find ldtravocean)/data/config/control.xml" />
   	<include file="$(find ldtravocean)/data/config/joy.xml" />
  	<include file="$(find ldtravocean)/data/config/driver.xml" />
  	<include file="$(find ldtravocean)/data/config/logging.xml" if="$(env ENABLE_LOGGING)" />
  </group>
</launch>
