<launch>
  <group ns="pladypos">
    <node pkg="pladypos" name="pladypos_node" type="pladypos_node">
      <param name="PortName" value="/dev/ttyS1" />
      <param name="Baud" value="57600" />
      <param name="maxThrust" value="1"/>
      <param name="minThrust" value="-1"/>
      <remap from="tauIn" to="tauOut" />
      <remap from="tauAch" to="tauAchPl" />
    </node>
  </group>
</launch>
