<launch>
  <include file="$(find caddy_uwsim)/data/config/$(env ROBOT).machine" />     
  <include file="$(find caddy_uwsim)/data/config/uwsim.xml" if="$(env USE_UWSIM)" />
 
  <group ns="$(env NAMESPACE)">
  	<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
  	<include file="$(find caddy_uwsim)/data/config/navigation.xml" />
		<param name="offline" value="true" />
		<param name="offline_file" value="/home/dnad/Development/Matlab/pladypos_offline/log_2013-07-19T11:18:24.154599.csv_prep" />
  </group>
</launch>
